@model SummaryViewModel

@{
	ViewData["Title"] = "Summary";
}

<div class="row">
	<div class="col-lg-2">
		@await Component.InvokeAsync(typeof(TaskViewComponent))
		<br />
		@await Component.InvokeAsync(typeof(CategoryViewComponent))
	</div>

	<div class="col-lg-8">
		<form method="post">
			<h3>today</h3>
			<ul class="list-group">
				@if (Model.TodayTasks.Any())
				{
					foreach (var task in Model.TodayTasks)
					{
						<li class="list-group-item list-group-item-action">
							<div class="space-between">
								@task.Name
								<span class="actions">
									<button type="submit" asp-controller="Tasks" asp-action="DeactivateTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-success" title="Mark as done">
										<i class="fas fa-check"></i>
									</button>
									<a asp-controller="Tasks" asp-action="GetTaskDetails" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Details">
										<i class="fas fa-info-circle"></i>
									</a>
									<a asp-controller="Tasks" asp-action="EditTask" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Edit">
										<i class="fas fa-edit"></i>
									</a>
									<button type="submit" asp-controller="Tasks" asp-action="DeleteTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-danger" title="Delete">
										<i class="fas fa-trash"></i>
									</button>
								</span>
							</div>
						</li>
					}
				}
				else
				{
					<li class="list-group-item disabled">No tasks.</li>
				}
			</ul>
			<br />

			<h3>tomorrow</h3>
			<ul class="list-group">
				@if (Model.TomorrowTasks.Any())
				{
					foreach (var task in Model.TomorrowTasks)
					{
						<li class="list-group-item list-group-item-action">
							<div class="space-between">
								@task.Name
								<span class="actions">
									<button type="submit" asp-controller="Tasks" asp-action="DeactivateTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-success" title="Mark as done">
										<i class="fas fa-check"></i>
									</button>
									<a asp-controller="Tasks" asp-action="GetTaskDetails" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Details">
										<i class="fas fa-info-circle"></i>
									</a>
									<a asp-controller="Tasks" asp-action="EditTask" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Edit">
										<i class="fas fa-edit"></i>
									</a>
									<button type="submit" asp-controller="Tasks" asp-action="DeleteTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-danger" title="Delete">
										<i class="fas fa-trash"></i>
									</button>
								</span>
							</div>
						</li>
					}
				}
				else
				{
					<li class="list-group-item disabled">No tasks.</li>
				}
			</ul>
			<br />

			<h3>later</h3>
			<ul class="list-group">
				@if (Model.LaterTasks.Any())
				{
					foreach (var task in Model.LaterTasks)
					{
						<li class="list-group-item list-group-item-action">
							<div class="space-between">
								@task.Name
								<span class="actions">
									<button type="submit" asp-controller="Tasks" asp-action="DeactivateTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-success" title="Mark as done">
										<i class="fas fa-check"></i>
									</button>
									<a asp-controller="Tasks" asp-action="GetTaskDetails" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Details">
										<i class="fas fa-info-circle"></i>
									</a>
									<a asp-controller="Tasks" asp-action="EditTask" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Edit">
										<i class="fas fa-edit"></i>
									</a>
									<button type="submit" asp-controller="Tasks" asp-action="DeleteTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-danger" title="Delete">
										<i class="fas fa-trash"></i>
									</button>
								</span>
							</div>
						</li>
					}
				}
				else
				{
					<li class="list-group-item disabled">No tasks.</li>
				}
			</ul>
			<br />

			<h3>recently completed</h3>
			<ul class="list-group">
				@if (Model.RecentlyCompletedTasks.Any())
				{
					foreach (var task in Model.RecentlyCompletedTasks)
					{
						<li class="list-group-item list-group-item-action">
							<div class="space-between">
								@task.Name
								<span class="actions">
									<button type="submit" asp-controller="Tasks" asp-action="ActivateTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-primary" title="Mark as undone">
										<i class="fas fa-undo"></i>
									</button>
									<a asp-controller="Tasks" asp-action="GetTaskDetails" asp-route-taskId="@task.Id"
									   class="btn btn-sm btn-secondary" title="Details">
										<i class="fas fa-info-circle"></i>
									</a>
									<button type="submit" asp-controller="Tasks" asp-action="DeleteTask" asp-route-taskId="@task.Id"
											class="btn btn-sm btn-danger" title="Delete">
										<i class="fas fa-trash"></i>
									</button>
								</span>
							</div>
						</li>
					}
				}
				else
				{
					<li class="list-group-item disabled">No tasks.</li>
				}
			</ul>
		</form>
	</div>

	<div class="col-lg-2">
		@*TODO: show details*@
	</div>
</div>
