@model TasksViewModel

<div class="col-lg-8 p-lg-3">
	<h2>Summary</h2>
	<form class="input-group mb-2" id="taskForm">
		<input class="form-control" type="text" id="taskName" placeholder="Enter a new task to do...">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary">Create task</button>
		</div>
	</form>

	<h3>today</h3>
	<ul class="list-group">
		@if (Model.TodayTasks.Any())
		{
			foreach (var task in Model.TodayTasks)
			{
				<li class="list-group-item list-group-item-action @task.PriorityClass()" data-task-id="@task.Id">
					@task.Name
					<div class="float-right actions">
						<a asp-controller="Tasks" asp-action="Complete">Complete</a>
						<a asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@task.Id">Edit</a>
						<a asp-controller="Tasks" asp-action="Delete">Delete</a>
					</div>
				</li>
			}
		}
		else
		{
			<li class="list-group-item disabled">No tasks.</li>
		}
	</ul>

	<br />

	<h3>tomorrow</h3>
	<ul class="list-group">
		@if (Model.TomorrowTasks.Any())
		{
			foreach (var task in Model.TomorrowTasks)
			{
				<li class="list-group-item list-group-item-action @task.PriorityClass()" data-task-id="@task.Id">
					@task.Name
					<div class="float-right actions">
						<a asp-controller="Tasks" asp-action="Complete">Complete</a>
						<a asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@task.Id">Edit</a>
						<a asp-controller="Tasks" asp-action="Delete">Delete</a>
					</div>
				</li>
			}
		}
		else
		{
			<li class="list-group-item disabled">No tasks.</li>
		}
	</ul>

	<br />

	<h3>later</h3>
	<ul class="list-group">
		@if (Model.LaterTasks.Any())
		{
			foreach (var task in Model.LaterTasks)
			{
				<li class="list-group-item list-group-item-action @task.PriorityClass()" data-task-id="@task.Id">
					@task.Name
					<div class="float-right actions">
						<a asp-controller="Tasks" asp-action="Complete">Complete</a>
						<a asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@task.Id">Edit</a>
						<a asp-controller="Tasks" asp-action="Delete">Delete</a>
					</div>
				</li>
			}
		}
		else
		{
			<li class="list-group-item disabled">No tasks.</li>
		}
	</ul>

	<br />

	<h3>recently completed</h3>
	<ul class="list-group">
		@if (Model.RecentlyCompletedTasks.Any())
		{
			foreach (var task in Model.RecentlyCompletedTasks)
			{
				<li class="list-group-item list-group-item-action @task.PriorityClass()" data-task-id="@task.Id">
					@task.Name
					<div class="float-right actions">
						<a asp-controller="Tasks" asp-action="Complete">Complete</a>
						<a asp-controller="Tasks" asp-action="Edit" asp-route-taskId="@task.Id">Edit</a>
						<a asp-controller="Tasks" asp-action="Delete">Delete</a>
					</div>
				</li>
			}
		}
		else
		{
			<li class="list-group-item disabled">No tasks.</li>
		}
	</ul>
</div>
